.marker
{
    background-color: yellow;
}

.container
{
    width: 1000px;
}

.box .inputBox 
            {
                position: relative;
            }

            .box .inputBox input
            {
                width: 300px;
                padding: 10px 0;
                font-size: 16px;
                color: #131432;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid rgba(70, 70, 70, 0.521);
                outline: none;
                background: transparent;
            }

            
            .box .inputBox label
            {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color:  rgba(70, 70, 70, 0.521);
                pointer-events: none;
                transition: .5s;
            }

            .box .inputBox input:focus ~ label,
            .box .inputBox input:valid ~ label
            {
                top: -18px;
                left: 0;
                color: rgb(196, 123, 227);
                font-size: 12px;
            }