@font-face {
    font-family: 'FonteMuli';
    src: url('./fontes/muli-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fontes/muli-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body
{
    font-family: 'FonteMuli';
    margin: 0 auto;
    padding:  0%;
}

    /* Aqui fica a navegação lateral e tudo dentro dela (Feed, Agenda, Criar, etc) */
    .NavegaçãoLateral
    {
        position: fixed;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        top: 0;
        width: 350px;
        height: 880px;
        background-color: #131432;
    }
    h1
    {
        color: white;
        margin-left: 84px;
        margin-top: 60px;
        font-size: 25px;
    }
    .LogoLateral
    {
        margin-left: 25px;
        margin-top: 49px;
        position: absolute;
    }

        /* Mudando os links dentro da navegação lateral */
        
        .liLateral
        {
            position: fixed;
            margin-top: 100px;
        }
            .liLateral li
            {
                list-style: none;
                width: 145px;
                margin-top: 5px;
                padding-top: 20px;
                padding-bottom: 16px;
                padding-left: 90px;
            }
                .liLateral li a
                {
                    list-style: none;
                    color: rgb(186, 186, 186);
                    text-decoration: none;
                    font-size: 17px;
                }
                
            .LateralSelecionado
            {
                background-color: #181936;
                border-left: 5px solid white;
                border-radius: 5px;
            }
            .LateralSelecionado b
            {
                font-size: 18px;
                color: white;
            }

        /* ----------------------------------------------- */

    /* --------------------------------------------------------- */

    /* Parte do conteúdo principal da página */
    .BodyConteudo
    {
        position: fixed;
        top: 0;
        left: 240px;
        width: 1190px;
        height: 885px;
        background-color: white;
        border-radius: 50px;
        z-index: 2;
    }
            .NavegaçãoSuperior
            {
                position: fixed;
                width: 1200px;
                height: 100px;
                margin-left: 50px;
                margin-top: 0px;
            }

             /* Lateral Direita */
             .LateralDireita
             {
                 position: fixed;
                 width: 370px;
                 height: 870px;
                 background-color: #F6F9FE;
                 right: 0px;
                 border-radius: 50px;
                 z-index: 1;
                 top: 0px;
             }

                /* Estilização dos links superiores */
                .aSuperior
                {
                    padding-top: 40px;
                }

                    .aSuperior a
                    {
                        color: #D1D0D0;
                        display: inline;
                        text-decoration: none;
                        padding-right: 20px;
                        padding-left: 20px;
                        font-size: 20px;
                        margin: 10px;
                    }

                .SuperiorSelecionado b
                {
                    color: #A986DE;
                    border-bottom: 5px #A986DE solid;
                    padding-bottom: 10px;
                    padding-right: 20px;
                    padding-left: 20px;
                    font-size: 20px;
                }
                

                /*Formulário da Criação de Eventos*/

                .FormEventos
                {
                    margin-left: 50px;
                    margin-top: 0px;
                }





                
                .box .inputBox 
            {
                position: relative;
            }

            .inputBox p
            {
                color: gray;
                margin-top: 0px;
                margin-left: 10px;
            }
            .box .inputBox input
            {
                margin-left: 20px;
                width: 250px;
                font-size: 16px;
                color: #131432;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid rgba(70, 70, 70, 0.521);
                outline: none;
                background: transparent;
            }
            .inputBox label b
            {
                font-size: 19px;
            }
            .box .inputBox .Teste
            {
                margin-left: 85px;
                margin-top: -22px;
            }
            .Localização
            {
                margin-left: 50px;
            }

            
            .Publicações
            {
                overflow: auto;
                width: 1135px;
                height: 740px;
                margin: 0 auto;
                margin-top: 110px;
                padding-left: 50px;
                
            }
            ::-webkit-scrollbar
            {
                width: 10px;
                
            }
        
            ::-webkit-scrollbar-thumb
            {
                background-color: #131432;
                border-radius: 50px;
            }

            .Descrição
            {
                width: 550px;
                height: 100px;
                align-items: top;
            }



            /* Estilizando checkbox */ 
            /* Matéria */
            input[type='radio']
            {
                display: none;
            }

            .Filtros
            {
                width: 800px;
                height: 100px;
            }

            .Filtros label 
            {
                position: relative;
                background-color: white;
                border: 2px solid #A986DE;
                color: #7554a6;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 13px;
                padding-right: 13px;
                margin: 15px;
                border-radius: 5px;
            }

            .Filtros label::before
            {
                font-size: 20px;
                margin-left: 20px;
                height: 30px;
                background-color: #A986DE;
            }
            .Filtros input:checked + label
            {
                color:white;
                background-color: #A986DE;
            }

            /* Restrição */
            .Restrição
            {
                width: 800px;
                height: 100px;
            }
            .Restrição label 
            {
                position: relative;
                background-color: white;
                border: 2px solid #42CA3E;
                color: #42CA3E;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 13px;
                padding-right: 13px;
                margin: 15px;
                border-radius: 5px;
            }

            .Restrição label::before
            {
                font-size: 20px;
                margin-left: 20px;
                height: 30px;
                background-color: #42CA3E;
            }
            
            .Restrição input:checked + label
            {
                color:white;
                background-color: #42CA3E;
            }


            /* Ano */
            .Ano
            {
                width: 800px;
                height: 100px;
            }
            .Ano label 
            {
                position: relative;
                background-color: white;
                border: 2px solid #3B5A8F;
                color: #3B5A8F;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 13px;
                padding-right: 13px;
                margin: 15px;
                border-radius: 5px;
            }

            .Ano label::before
            {
                font-size: 20px;
                margin-left: 20px;
                height: 30px;
                background-color: #3B5A8F;
            }
            
            .Ano input:checked + label
            {
                color:white;
                background-color: #3B5A8F;
            }

            .Conteudo
            {
                width: 950px;
            }

            .btnFiltrar input[type="submit"]
            {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                background-color: #a28bba;
                padding: 10px 30px;
                cursor: pointer;
                border-radius: 50px;
                margin-left: 80%;
                margin-top: 50px;
            }
            .btnFiltrar input[type="submit"]:hover
            {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                background-image: linear-gradient(-90deg, #a28bba, #6b4d96);
                padding: 10px 30px;
                cursor: pointer;
                border-radius: 50px;
                margin-left: 80%;
                margin-top: 50px;
            }


            .Tema
            {
                margin-top: -220px;
                margin-left: 800px;
                margin-bottom: 150px;
            }

            .Pergunta
            {
                width: 700px;
                height: 130px;
            }

            .Correto input[type='radio']
            {
               display: block;
               margin: 10px;
            }

            .Alternativas
            {
                margin-top: -280px;
                margin-left: 30px;
            }


            .Alternativas .box .inputBox 
            {
                position: relative;
            }

            .Alternativas .box .inputBox input
            {
                margin-left: 0px;
                width: 600px;
                font-size: 16px;
                color: #131432;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid rgba(70, 70, 70, 0.521);
                outline: none;
                background: transparent;
            }
            .Alternativas .inputBox label b
            {
                font-size: 19px;
            }
           
            .btnMateria
            {
                margin-top: -30px;
                margin-left: 10px;
            }

            .LateralDireitaCriar
            {
                position: fixed;
                width: 370px;
                height: 870px;
                background-color: #F6F9FE;
                right: 0px;
                border-radius: 50px;
                z-index: 1;
                top: 0px;
            }


            .Corpo_Modo
            {
                float: right;
                width: 360px;
                height: 50px;
                display: inline-block;
                margin-top: -50px;
                margin-bottom: 40px;
            }

            .Modo
            {
                text-decoration: none;
                width: 110px;
                height: 25px;
                

                text-align: center;
                padding-top: 5px;

                border: 1px gray solid;
                float: left;
                color: gray;
            }

            #Selecionado
            {
                text-decoration: none;
                width: 110px;
                height: 25px;
                background-color: #57cd53;
                

                text-align: center;
                padding-top: 5px;

                border: 1px gray solid;
                float: left;
            }

            .Selecionado
            {
                color: white;
                text-decoration: none;
            }

            .A 
            {
                color: gray;
                text-decoration: none;
            }
