@media print {
body *
{
    visibility: hidden;
}

.Publicações, .Publicações *
{
    visibility: visible;
}
.Publicações {
    position: fixed;
    left: -120px;
    top: -100px;
    width: 2000px;
}

}
#Teste
{
    position:initial ;
    left: 1000px;
}

.Perguntas
{
    margin-left: 130px;
    width: 800px;
    border: 1px gray solid;
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 50px;
}

.Pergunta
{
    margin-top: 5px;
    margin-bottom: 15px;
}



.Caracteristicas
{
    width: 800px;
    margin: 0 auto;

    margin-left: 127px;
}

.Caracteristicas h3
{
    text-align: center;
    
}
